*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}
html {
    box-sizing: border-box;
  }
  
  *, *::before, *::after {
    box-sizing: inherit;
  }
img{
    max-width: 100%;
    height: auto;
}  
.wrapper .container{
    background-color: #fff;
    height: 100px;
    margin-top: 30px;
    justify-content: center;
}
.wrapper .logo li{
    border: 1px solid #006EAC;
    width: 40px;
    border-radius: 15px;
    background-color:#006EAC;
    height: 60px;
}
.wrapper .logo li a{
   font-family: "Calibri";
   padding-left: 4px;
   font-size: 40px;
   color: #fff; 
   text-decoration: none;
}
.label{
    display: inline-block;
    position: relative;
  }
#search{
    border: 2px solid #33f;
    padding: 5px; 
    border-radius: 10px; 
    outline: none;
    transition: 0.3s color linear;
    color: #22b;
}
.search_icon{
    color: #33f;
    position: absolute;
    margin-left: -25px;
    top: 50%;
    transform: translateY(-50%);
    transition: 0.5s transform linear,0.5s color linear;
}
#search::-webkit-search-cancel-button{
    display: none;
}
#search:focus{
    border-color: rgb(255, 75, 51);
}
#search:focus ~ .search_icon{
    color: rgb(255, 75, 51);
    transform: translate(35px, -50%)
}
#search::placeholder{
    color: #33f;
    transition: 0.3s color linear;
}
#search:focus::placeholder{
    color: #e33;
}
.container form {
    margin-left: 80px;
    margin-top: -45px;
 }
.container .header .menu{
    margin-left: 280px;
    margin-top: -40px;
}
.container .header .menu ul{
	overflow: hidden;
}
.container .header .menu ul li{
	float: left;
}
.container .header .menu ul li a{
	font-size: 13.7px;
	font-family: Arial;
    text-decoration: none;
	border-right: 0;	
	padding: 12px 40px;
	display: inline-block;
}	

.container .header .menu ul li a:hover{
	color:#fff;
	background-color: #006EAC;
	border-color: #000;
	transition: all .5s ease;
}
.icons img{
    float: right;
    margin-top: -60px;
    margin-right: 90px;
    border: 3px solid #12898A;
    border-radius: 50px;
    width: 50px;
}
.icons img:hover{
    border: 7px double yellow;
    padding: 7px;   
}
.icon{
    float: right;
    margin-top: -60px;
    margin-right: 170px;
}
.sms{
    border: 1px solid #fff; 
    padding: 11.5px;
    width: 40px;
    padding-left: 11px;
    border-radius: 50%;
    color:#28C86C;
    animation: envelope 4s infinite forwards;
}
@keyframes envelope{
    0%{
        transform: rotate(0);
    }
    50%{
        transform: rotate(-360deg);
    }
    100%{
        transform: rotate(0);
    }
}
.sms:hover{
    color: #28C86C;
    background-color: #fff;
    border-color: #28C86C;
    transition: all 1.2s ease;
}
.bell{
    border: 1px solid #fff;
    padding: 11.5px;
    width: 40px;
    padding-left:12px;
    border-radius: 50%;
    color:#ECBF0A;
    animation: bell 1.5s infinite forwards;
}
@keyframes bell{
    0%{
        transform: rotate(50deg);
    }
  
    50%{
        transform: rotate(-50deg);
    }

    100%{
        transform: rotate(50deg);
    }
   
}
.bell:hover{
    color: #ECBF0A;
    background-color: #fff;
    border-color: #28C86C;
    transition: all 1.2s ease;
}
.user{
    border: 1px solid #fff;
    padding: 11.5px;
    width:40px;
    border-radius: 50%;
    color:#9955B3;
}
.user:hover{
    color:#9955B3;
    font-size: 14px;
    background-color: #fff;
    border-color: #28C86C;
    transition: all 1.2s ease;
}
.wrapper .container .text ul li{
    float: left;
}
.wrapper .container .text ul li a{
    color: #555;
    padding: 15px; 
    text-decoration: none;
}
.wrapper .container .text {
    margin-top: 15px;
}
.container{
    margin-top: 50px;
    border: 1px solid #fff;
    background-color: #fff;
}
 .logo_two h1{
    padding-left: 50px;
    font-family: "Times New Roman";
    font-size: 25px;
    font-weight: bold;
}
.content{
    padding-top: 80px;
    perspective: 2000px;
}
.container_left img{
    width: 350px;
    height: 450px;
    margin-left: -35px;
    border: 10px solid #fff;   
}
.container_left img:hover{
    box-shadow: 0 0 0 10px inset,0 0 10px blue,0 0 20px blue inset;
    transition: box-shadow .5s;
    transform: rotateY(25deg);
}
.container_left h3{
    margin-left: -40px;
}
.container_center img{
    width: 350px;
    height: 450px;
    margin-left: 5px;
    border: 10px solid #fff;
}
.container_center img:hover{
    box-shadow: 0 0 0 20px inset,0 0 20px rgb(112, 97, 57),0 0 40px rgb(112, 97, 57) inset;
    transition: box-shadow .5s;
    transform: rotateY(20deg);
}
.container_center h3{
    margin-left: 5px;
}
.container_right img{
    width: 350px;
    height: 450px;
    margin-left: 27px;
    border: 10px solid #fff;
}
.container_right img:hover{
    box-shadow: 0 0 0 20px inset,0 0 20px rgb(115, 115, 251),0 0 40px rgb(115, 115, 251) inset;
    transition: box-shadow .5s;
    transform: rotateY(20deg);
}
.container_right h3{
    margin-left: 35px;
}